<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jabirdeveloper.tinderswipe">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_candy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:icon">
        <activity android:name=".IDontLike"></activity>
        <activity android:name=".ProblemList" />
        <activity android:name=".SendProblem" />
        <activity android:name=".CloseAccount" />
        <activity android:name=".Register.QuestionActivity" /> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".BandUser" />
        <activity android:name=".ShowGpsOpen" />
        <activity
            android:name="com.jabirdeveloper.tinderswipe.LikeYou.LikeYouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.RegisGpsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageChat.ItemImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SwitchpageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Register.Regis_ageActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Setting2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileUserOppositeActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.PhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.VerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseLoginRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.Regis_target_Acivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.Regis_name_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.Regis_Sex_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat.ChatActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Register.RegistrationActivity" />
        <activity
            android:name=".First_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6552917645420581~7846747654" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr, face, barcode, label" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>